table{

	font-family: cursive;
	font-size: 11px;
	font-weight: bold;
	

}
thead{
	font-size: 13px;
	min-height: 30px;
	max-height: 30px;


}
td{
	min-height: 30px;
	max-height: 30px;
	background-color: #eaeae8;
}
tr{
	position: absolute; /*Sorry Change back to Absolute*/
	
	min-height: 30px;
	max-height: 30px;
	transition: all 1.5s ease;
}
.rankcell {
	min-width: 50px;
	max-width: 50px;
	min-height: 30px;
	max-height: 30px;
}
.namecell {
	min-height: 30px;
	max-height: 30px;
	min-width: 150px;
	max-width: 150px;
}
.pointcell {
	min-height: 30px;
	max-height: 30px;
	min-width: 100px;
	max-width: 100px;
}
.subpointcell {
	min-height: 30px;
	max-height: 30px;
	min-width: 70px;
	min-width: 70px;
}
.solvedcell {
	min-height: 30px;
	max-height: 30px;
	min-width: 30px;
	min-width: 30px;
}
.problemcell {
	min-height: 30px;
	max-height: 30px;
	max-width:80px;
	min-width: 80px;
	font-size: 11;

}
.sorted {
	background-color: gray;
}



.attempted{
	background-color: #f26a6a;
	color :black;
}
.solved {
	background-color: #C6FFA1;
	color :green;

}
.toopen {
	background-color: #f0f06c;
	color:#f96f00;
}
.container{
}