table{

	font-family: cursive;

	font-weight: bold;
	margin-left: -95px;
	

}
thead{
	
	min-height: 50px;
	max-height: 50px;


}
td{

	height: 50px;
	background-color: #eaeae8;
}
tr{
	position: absolute; /*Sorry Change back to Absolute*/
	
	min-height: 50px;
	max-height: 50px;
	transition: all 1.5s ease;
}
.rankcell {
	min-width: 40px;
	max-width: 40px;
	
}
.namecell {

	min-width: 150px;
	max-width: 150px;
}
.pointcell {
	
	min-width: 90px;
	max-width: 90px;
}
.subpointcell {
	
	min-width: 60px;
	min-width: 60px;
}
.solvedcell {
	
	min-width: 30px;
	min-width: 30px;
}
.problemcell {
	
	max-width: 105px;
	min-width: 105px;
	

}
.sorted {
	background-color: gray;
}



.attempted{
	background-color: #f26a6a;
	color :black;
}
.solved {
	background-color: #C6FFA1;
	color :green;

}
.toopen {
	background-color: #f0f06c;
	color:#f96f00;
}
.container{
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 2px black;
    -moz-box-shadow: 0px 0px 10px 2px black;
    box-shadow: 0px 0px 10px 2px black;
    transition: all 1s ease;
}